.maindiv{
    width: 600px;
    height:400px;
    border: 2px solid black;
    position: relative;
    left: 400px;
    top: 150px;
    text-align: center;
    box-shadow: 10px 15px 10px 10px;
}
input{
    width: 350px;
    height: 35px;
    border-radius: 10px;
    letter-spacing: 3px;
    text-transform: capitalize;
}
button{
    width: 180px;
    padding: 8px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
label{
    position: relative;
    right: 120px;
}